*.pyc
*.pyo
*.patch
*~
unchecked/
vmchecker.db
checked/
teme-de-test/
tests/
*.o
bin/commander
bin/semctl
bin/vm_executor
semctl/semctl
Commander/iniparser/libiniparser.a
Commander/iniparser/libiniparser.so.0
Commander/commander
VMExecutor/vm_executor
executor_jobs/
queue/
*.log
nohup.out
tmpunzip/
XXX*
