[DEFAULT]

# Never ever ever ever add real passwords to this file. Ever! :)
# Note: DO NOT USE QUOTES FOR THE FIELDS

LDAP_SERVER = "todo"
# When LDAP_BIND_ANONYMOUS is set to 'yes', LDAP_BIND_{USER|PASS} are ignored.
LDAP_BIND_ANONYMOUS = no
LDAP_BIND_USER = "todo"
LDAP_BIND_PASS = "todo"
LDAP_ROOT_SEARCH = "todo"
