/** Add css rules here for your application. */

body {
	margin: 0px; 
}
/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

p, ul, li {
	font-size: 13px;
}

p {
	padding: 0px 0 5px 0;  
}

h2 {
	font-size: 16px; 
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif;
	padding: 0px 0 5px 0;
	margin: 0;  
}

.numberedMenu {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;   
}

.assignmentContentMenuPanel .gwt-TabBar .gwt-TabBarItem, .assignmentContentMenuPanel .gwt-TabBar .gwt-TabBarItem-selected {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif; 
	color: #006633;  
	font-size: 13px; 
}

.assignmentContentMenuPanel .gwt-TabBar .gwt-TabBarItem {
	background-color: #DDDDDD;
}

.assignmentContentMenuPanel .gwt-TabBar .gwt-TabBarItem-selected {
	background-color: #FFFFFF;
}

.logo {
	background: url('images/vmchecker_logo_ui.png') left top no-repeat; 
	width: 200px;
	height: 40px;
	margin-top: 8px;  
}

.loginDescription h2 {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif;
	font-size: 16px; 
}

.loginDescription a, .loginDescription a:visited, .loginDescription a:hover {
	color: #007F00; 
}

.errorPopup {
	border: 3px solid #9B0000;
	padding:10px;
	background:none repeat scroll 0 0 white; 
	overflow:scroll;
}

.errorPopup a, .errorPopup a:hover, .errorPopup a:visited {
	color: #9B0000; 
	font-weight: bold; 
}
