/** Add css rules here for your application. */

body {
	margin: 0px; 
}


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

p, ul, li {
	font-size: 13px;
}

p {
	padding: 0px 0 5px 0;  
}

h2 {
	font-size: 16px; 
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif;
	padding: 0px 0 5px 0;
	margin: 0;  
}

.numberedMenu {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;   
}

.assignmentContentMenuPanel .gwt-TabBar .gwt-TabBarItem, .assignmentContentMenuPanel .gwt-TabBar .gwt-TabBarItem-selected {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif; 
	color: #006633;  
	font-size: 13px; 
}

.assignmentContentMenuPanel .gwt-TabBar .gwt-TabBarItem {
	background-color: #DDDDDD;
}

.assignmentContentMenuPanel .gwt-TabBar .gwt-TabBarItem-selected {
	background-color: #FFFFFF;
}

.gwt-TabBarItem {
	outline: 0;
}

.logo {
	background: url('images/vmchecker_logo_ui.png') left top no-repeat; 
	width: 200px;
	height: 40px;
	margin-top: 8px;  
}

.loginDescription h2 {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif;
	font-size: 16px; 
}

.loginDescription a, .loginDescription a:visited, .loginDescription a:hover {
	color: #007F00; 
}

.errorPopup {
	border: 3px solid #9B0000;
	padding:10px;
	background:none repeat scroll 0 0 white; 
	cursor: pointer;
}

.errorPopup a, .errorPopup a:hover, .errorPopup a:visited {
	color: #9B0000; 
	font-weight: bold; 
}

.resultsPopup {
	border: 3px solid green;
	padding:10px;
	background:none repeat scroll 0 0 white; 
}

.resultsPopup a, .resultsPopup a:hover, .resultsPopup a:visited {
	color: green; 
	font-weight: bold; 
	cursor: pointer;
}

a.fillButton, a.fillButton:visited {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif;
	color: green;
	padding: 3px 5px 3px 5px; 
	font-size: 13px;
	line-height: 20px;
	cursor: pointer;
	font-weight: bold;
}

a.fillButton:hover {
	background: green;
	color: white;
	text-decoration: none;
}

.popupContainer {
	overflow: hidden;
}

.popupContentPanel {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #CCCCCC;
	overflow-y: auto;
	overflow-x: hidden;
	overflow-wrap: break-word;
	word-wrap: break-word;
	outline: 0;
}		

.check_error {
	color: red;
}

.blink {
	-webkit-animation-name: blink;
	   -moz-animation-name: blink;
	     -o-animation-name: blink;
	        animation-name: blink;
	-webkit-animation-timing-function: linear;
	   -moz-animation-timing-function: linear;
	     -o-animation-timing-function: linear;
	        animation-timing-function: linear;
	-webkit-animation-duration: 1s;
	   -moz-animation-duration: 1s;
	     -o-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	   -moz-animation-iteration-count: infinite;
	     -o-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
}

@-webkit-keyframes blink {
  50% {
    opacity: 0;
  }
}
@-moz-keyframes blink {
  50% {
    opacity: 0;
  }
}
@-o-keyframes blink {
  50% {
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
