[DEFAULT]

# a list of users that will implicitly receive default ACLs for the
# root storer directoies.

# you can specify multiple values separated by spaces. You cannot
# specify usernames with spaces.

# examples:
# 1) to grant www-data, mysql and sqlite users default ACLs use:
# users=www-data mysql sqlite
# 2) to grant no user default acls, leave the values blank:
# users=
users=www-data


# similarly, a list of groups that will receive such default ACLs.
groups=
