
.logo {
   background: url('/vmchecker_logo_ui.png') left top no-repeat;
   width: 200px;
   height: 40px;
   margin-top: 8px;
}

.loading {
   position:absolute;
   top: 50%;
   left: 50%;
   text-align: center;
   margin-left:-70px;
   margin-top:-50px;
}

.all-grades {
   color: green;
}

.spinner {
   height:60px;
   width:60px;
   -webkit-animation: rotation .6s infinite linear;
   -moz-animation: rotation .6s infinite linear;
   -o-animation: rotation .6s infinite linear;
   animation: rotation .6s infinite linear;
   border:6px solid rgba(0,174,239,.15);
   border-radius:100%;
}

.spinner:before {
   content:"";
   display:block;
   position:absolute;
   left:-6px;
   top:-6px;
   height:100%;
   width:100%;
   border-top:6px solid rgba(0,174,239,.8);
   border-left:6px solid transparent;
   border-bottom:6px solid transparent;
   border-right:6px solid transparent;
   border-radius:100%;
}

@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}


.container {
}

.login 
  p.submit { text-align: right; }

.login p { margin: 20px 0 0; }

.login p:first-child { margin-top: 0; }

.login input[type=text], input[type=password] { width: 278px; }

.login p.remember_me {

   float: left;
   line-height: 31px;

}

.login p.remember_me label {
   font-size: 12px;
   color: #777;
   cursor: pointer;
}

.login p.remember_me input {
   position: relative;
   bottom: 1px;
   margin-right: 4px;
   vertical-align: middle;
}

.login-help {
  margin: 20px 0;
  font-size: 11px;
  color: white;
  text-align: center;
  text-shadow: 0 1px #2a85a1;

}

.login-help a {
   color: #cce7fa;
   text-decoration: none;

}

.login-help a:hover { text-decoration: underline; }

:-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}

input {
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-size: 14px;
}

input[type=text], input[type=password] {
  margin: 5px;
  padding: 0 10px;
  width: 200px;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px;
}

input[type=text]:focus , input[type=password]:focus {
   border-color: #7dc9e2;
   outline-color: #dceefc;
   outline-offset: 0;
}

input[type=submit] {
  padding: 0 18px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color: #527881;
  text-shadow: 0 1px #e3f1f1;
  background: #cde5ef;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  border-radius: 16px;
  outline: 0;
}

input[type=submit]:active {
   background: #cde5ef;
   border-color: #9eb9c2 #b3c0c8 #b4ccce;
}

body {
  font: 1em/150% Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #669;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font: bold 36px/100% Arial, Helvetica, sans-serif;
}

/************************************************************************************
STRUCTURE
*************************************************************************************/

#pagewrap {
  padding: 5px;
  width: 960px;
  margin: 20px auto;
}

#header {
  height: 33px;
  padding: 0;
  margin: 0;
  float: bottom;
}

#header div {
   padding: 0;
   margin: 0;
}

#content {
  width: 640px;
  float: left;
}

#sidebar {
  width: 300px;
  float: right;
}

#footer {
  clear: both;
}

#pagewrap {
   margin-top: 100px;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {
  
  #pagewrap {
    width: 94%;
  }
  #content {
    width: 68%;
  }
  #sidebar {
    width: 30%;
  }

}

/* for 700px or less */
@media screen and (max-width: 700px) {

  #content {
    width: auto;
    float: none;
  }
  #sidebar {
    width: auto;
    float: none;
  }

}

/* for 480px or less */
@media screen and (max-width: 480px) {

  #header {
    height: auto;
  }
  h1 {
    font-size: 24px;
  }
  #sidebar {
    /* display: none; */
  }

}

/* border & guideline (you can ignore these) */
#content {
  background: #f8f8f8;
}
#sidebar {
  background: #f0efef;
}
#header, #content, #sidebar {
  margin-bottom: 5px;
}
#pagewrap, #header, #content, #sidebar{
  border: solid 1px #ccc;
}